/dts-v1/;						
/plugin/;						

#include <dt-bindings/thermal/thermal.h>

/* 	Add an external PWM fan to GPIO pin-11 GPIO4_C2	 (gpio-146) on
	ROCK 4SE & ROCK 4C+ boards
*/

&pwm0 {
    status = "okay";
};

&{/} {
        fan0: pwm-fan {
            compatible = "pwm-fan";
            #cooling-cells = <2>;
            pwms = <&pwm0 0 40000 0>;
            cooling-levels = <255 255 255 255 255>;
        };
};
    
&target {
	temperature = <20000>;
};

&soc_crit {
	temperature = <105000>;
};

&soc_thermal {
	sustainable-power = <5000>; /* milliwatts */
	cooling-maps {
		map3 {
			trip = <&target>;
			cooling-device =
				<&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <8192>;
		};
		map4 {
			trip = <&threshold>;
			cooling-device =
				<&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <8192>;
		};
	};
};

